@model TccUsjt2018.ViewModels.Lote.LoteViewModel
@{
    ViewBag.Title = "Home Page";
}

<head>
    <script src="~/Assets/js/echarts.js"></script>
</head>

@foreach (var alerta in Model.ListaAlerta)
{
    if (alerta != "")
    {
        <div class="alert alert-danger" role="alert">
            <strong>Aviso: @alerta</strong>
        </div>

    }
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div id="main" style="width: null;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div><!-- /# column -->
    </div><!-- .animated -->
</div><!-- .content -->

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div id="main2" style="width: 900px;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div><!-- /# column -->
    </div><!-- .animated -->
</div><!-- .content -->

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div id="main3" style="width: null;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div><!-- /# column -->
    </div><!-- .animated -->
</div><!-- .content -->

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-10">
                <div class="card">
                    <div class="card-body">
                        <div id="main4" style="width: null;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div><!-- /# column -->
    </div><!-- .animated -->
</div><!-- .content -->


<script src="~/Assets/js/vendor/jquery-2.1.4.min.js"></script>

<script type="text/javascript">
        // based on prepared DOM, initialize echarts instance
    var myChart = echarts.init(document.getElementById('main'));

    $.ajax({
        url: '@Url.Action("RetornaRankingProdutos")',
        method: "GET",
    }).done(function (response) {

        var listaNomeProduto = [];
        var listaQuantidadeProduto = [];

        var responseObjeto = JSON.parse(response);

        for (var product in responseObjeto) {
            listaNomeProduto.push(responseObjeto[product]["NomeProduto"]);
            listaQuantidadeProduto.push(responseObjeto[product]["QuantidadeProduto"]);
        }

        var option = {
            title: {
                text: 'Ranking de Produtos Top 5'
            },
            tooltip: {},
            @*legend: {
                data: ['Produtos']
            },*@
            xAxis: {
                data: listaNomeProduto

            },
            yAxis: {},
            series: [{
                name: 'Produtos',
                type: 'bar',
                width:'1200px',
                data: listaQuantidadeProduto

            }]
        };

        // use configuration item and data specified to show chart
        myChart.setOption(option);
    });


     // based on prepared DOM, initialize echarts instance
    var myChart2 = echarts.init(document.getElementById('main2'));

    $.ajax({
        url: '@Url.Action("VerificaSituacaoEstoque")',
        method: "GET",
    }).done(function (response) {

        var listaNomeProduto = [];
        var listaQuantidadeProdutoEsteMes = [];
        var listaQuantidadeProdutoMedia = [];

        var responseObjeto = JSON.parse(response);

        for (var product in responseObjeto) {
            listaNomeProduto.push(responseObjeto[product]["NomeProduto"]);
            listaQuantidadeProdutoEsteMes.push(responseObjeto[product]["EstoqueAtual"]);
            listaQuantidadeProdutoMedia.push(responseObjeto[product]["MediaBaixa"]);
        }

        var option = {
            title: {
                text: 'Produtos a serem reabastecidos de acordo com Media de Baixa ultimos 3 meses'
            },
            tooltip: {},
            @*legend: {
                data: ['Produtos']
            },*@
            xAxis: {
                data: listaNomeProduto

            },
            yAxis: {

            },
            series: [
                {
                    name: 'Produtos em Estoque',
                    type: 'bar',
                    data: listaQuantidadeProdutoEsteMes
                },
                {
                    name: 'Produtos necessários',
                    type: 'bar',
                    data: listaQuantidadeProdutoMedia
                }
            ]
        };

        // use configuration item and data specified to show chart
        myChart2.setOption(option);
        });

    var myChart3 = echarts.init(document.getElementById('main3'));

    $.ajax({
        url: '@Url.Action("RetornaRankingProdutosMorto")',
        method: "GET",
    }).done(function (response) {

        var listaNomeProduto = [];
        var listaQuantidadeProduto = [];

        var responseObjeto = JSON.parse(response);

        for (var product in responseObjeto) {
            listaNomeProduto.push(responseObjeto[product]["NomeProduto"]);
            listaQuantidadeProduto.push(responseObjeto[product]["QuantidadeProduto"]);
        }

        var option = {
            title: {
                text: 'Relatório De Produtos Vencidos em Estoque Top 5'
            },
            tooltip: {},
            @*legend: {
                data: ['Produtos']
            },*@
            xAxis: {
                data: listaNomeProduto
            },
            yAxis: {

            },
            series: [{
                name: 'Produtos',
                type: 'bar',
                data: listaQuantidadeProduto

            }]
        };

        // use configuration item and data specified to show chart
        myChart3.setOption(option);
        });

    
    var myChart4 = echarts.init(document.getElementById('main4'));

    $.ajax({
        url: '@Url.Action("RetornaRankingBaixas")',
        method: "GET",
    }).done(function (response) {

        var listaNomeProduto = [];
        var listaQuantidadeProduto = [];

        var responseObjeto = JSON.parse(response);

        for (var product in responseObjeto) {
            listaNomeProduto.push(responseObjeto[product]["NomeProduto"]);
            listaQuantidadeProduto.push(responseObjeto[product]["QuantidadeBaixa"]);
        }

        var option = {
            title: {
                text: 'Ranking de Baixas Top5'
            },
            tooltip: {},
            @*legend: {
                data: ['Produtos']
            },*@
            xAxis: {
                data: listaNomeProduto
            },
            yAxis: {

            },
            series: [{
                name: 'Produtos',
                type: 'bar',
                data: listaQuantidadeProduto

            }]
        };

        // use configuration item and data specified to show chart
        myChart4.setOption(option);
        });

</script>
