@model TccUsjt2018.ViewModels.ProdutoViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Novo Produto</strong>
                    </div>
                    <div class="card-body">
                        <!-- Credit Card -->
                        <div id="pay-invoice">
                            <div class="card-body">
                                @using (Html.BeginForm("Create", "Produto"))
                                {
                                    <div class="form-group">
                                        @Html.LabelFor(X => X.NomeProduto)
                                        @Html.TextBoxFor(x => x.NomeProduto, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(X => X.MarcaProduto)
                                        @Html.TextBoxFor(x => x.MarcaProduto, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group" style="display:inline-block">
                                        @Html.LabelFor(model => model.SelectItemCategoriaId)
                                        @Html.DropDownListFor(model => model.SelectItemCategoriaId, Model.Categorias, new { @class = "form-control" })
                                    </div>
                                    <br/>
                                    <br/>
                                    <div class="form-group" style="display:inline-block">
                                        <button type="submit" class="btn btn-primary" id="idCadastrar" value="">Cadastrar</button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div> <!-- .card -->
            </div>
        </div>
    </div>
</div>

