@model IEnumerable<TccUsjt2018.ViewModels.Lote.LoteViewModel>
@{
    ViewBag.Title = "Lotes";
}
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">@ViewBag.Title</strong>
                    </div>
                    <div class="card-body">
                        @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-primary" })
                        <br />
                        <br />
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>Produto</th>
                                    <th>Quantidade</th>
                                    <th>Validade</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var lote in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(model => lote.CodigoLote)</td>
                                        <td>@Html.DisplayFor(model => lote.DescricaoLote)</td>
                                        <td>@Html.DisplayFor(model => lote.Produto.NomeProduto)</td>
                                        <td>@Html.DisplayFor(model => lote.QuantidadeProduto)</td>
                                        !@{
                                            var data = lote.ValidadeLote.ToString("dd/MM/yyyy");
                                        }
                                        <td>@Html.DisplayFor(model => data)</td>
                                        <td align="center">
                                            @*<button onclick="detalhes('@lote.CodigoLote');" type="button" class="btn btn-success">Detalhes</button>*@
                                            @Html.ActionLink("Consultar", "Consultar", new { codigoLote = lote.CodigoLote }, new { @class = "btn btn-success" })
                                            @*@Html.ActionLink("Editar", "Edit", new { codigo = lote.CodigoLote }, new { @class = "btn btn-warning" })*@
                                            @*<button onclick="remover('@lote');" type="button" class="btn btn-danger">Excluir</button>*@
                                        </td>
                                        <td>
                                            @Html.ActionLink("Baixar", "BaixaLote", new { codigoLote = lote.CodigoLote }, new { @class = "btn btn-dark" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

<script>

    function detalhes(produto) {

    }

    function remover(produto) {

    }
</script>
