@model TccUsjt2018.ViewModels.Filtros.FiltrosViewModel
@{
    ViewBag.Title = "Relatório de Produtos";
}
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">@ViewBag.Title</strong>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("RelatorioProduto", "Relatorio"))
                        {
                            <div class="form-group">
                                @Html.LabelFor(x => x.NomeProduto)
                                @Html.TextBoxFor(x => x.NomeProduto, new { @class = "form-control" })
                            </div>
                            <div class="form-group" style="display:inline-block">
                                @Html.LabelFor(X => X.DataVencimento)
                                @Html.TextBoxFor(x => x.DataVencimento, new { @class = "form-control" })
                            </div>
                            <div class="cform-group">
                                @Html.LabelFor(model => model.SelectItemCategoriaId)
                                @Html.DropDownListFor(model => model.SelectItemCategoriaId, Model.Categorias, new { @class = "form-control" })
                            </div>
                            <br />
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" id="idConsulta" value="">Consultar</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
<script src="~/Assets/jquery-maski/src/jquery.mask.js"></script>
<script src="~/Assets/jquery-maski/dist/jquery.mask.min.js"></script>>
<script src="~/Assets/jquery-maski/dist/jquery.mask.js" type="text/javascript">
    $('#DataVencimento').mask('99/99/9999');

</script>

<script>

    @*$(document).ready(function () {
        $("#idConsulta").click(function (e) {
            e.preventDefault();
            var obj = { NomeProduto: $("#NomeProduto").val(), DataVencimento: $("#DataVencimento").val(), SelectItemCategoriaId: $("SelectItemCategoriaId").val() }

            $.ajax({
                type: "POST",
                url: "@Url.Action("RelatorioProduto", "Relatorio")",
                data: obj
            });
        });
    });*@
</script>


<script>

    function detalhes(produto) {

    }

    function remover(produto) {

    }
</script>
