<!-- Left Panel -->
@using Microsoft.AspNet.Identity

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="~/Images/logo.png" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="~/Images/logo2.png" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Index", "Home")"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <!--<h3 class="menu-title">UI elements</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Consultas</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i>@Html.ActionLink("Produto", "Index", "Relatorio")</li>
                        <li><i class="fa fa-id-badge"></i>@Html.ActionLink("Estoque", "Consultar", "Estoque")</li>
                        <li><i class="fa fa-share-square-o"></i>@Html.ActionLink("Baixa", "IndexRelatorioBaixa", "Relatorio")</li>
                        <li><i class="fa fa-share-square-o"></i>@Html.ActionLink("Lote", "IndexRelatorioLote", "Relatorio")</li>
                    </ul>
                </li>
                <li class="menu-item-has-children active dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Inventário</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-table"></i>@Html.ActionLink("Produto", "Index", "Produto")</li>
                        <li><i class="fa fa-table"></i>@Html.ActionLink("Lote", "Index", "Lote")</li>
                        <li><i class="fa fa-table"></i>@Html.ActionLink("Categoria", "Index", "Categoria")</li>
                        <li><i class="fa fa-table"></i>@Html.ActionLink("Estoque", "Index", "Estoque")</li>

                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    @if (User.Identity.GetUserName().Equals("lggraster.host"))
                    {
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Administração</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="menu-icon fa fa-th"></i>@Html.ActionLink("Usuario", "Index", "Conta")</li>
                        </ul>
                    }
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->
<!-- Left Panel -->
